.cart-container {
  margin: "0px 169px";
  padding-top: "130px";
  margin-bottom: "20px";
  position: "relative";
}

.column1 {
  /* float: left;
  width: 64%;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #dcdcdc;
  min-height: 600px; */

  border-top: "1px solid #f0f0f0";
  background: "#fff";
  padding: "16px 22px";
  box-shadow: "0 -2px 10px 0 rgba(0,0,0,.1)";
  margin-bottom: "20px";
}

.column2 {
  float: left;
  width: 32%;
  padding: 10px;
  border: 1px solid #dcdcdc;
  margin-left: 20px;
  height: 411px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.detailsContainer {
  display: flex;
  align-items: center;
}

.detailsStyle {
  height: 160px;
  width: 350px;
  margin-left: 219px;
  margin-top: -138px;
}

.buttonStyle {
  height: 160px;
  width: 200px;
  margin-left: 219px;
  margin-top: -3px;
}

.imageStyle {
  width: 200px;
}

.nameStyle {
  font-size: initial;
  color: #404040;
}

.descriptionStyle {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20ch;
  white-space: nowrap;
}

.priceStyle {
  font-weight: bold;
  font-size: 22px;
}

.saveStyle,
.removeStyle {
  font-weight: bold;
  font-size: 16px;
  margin-left: 56px;
  margin-top: 11px;
  color: #666666;
}

button {
  margin-left: 5px;
}

.countButton {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #f8f8f8;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
}

.incrementButton,
.decrementButton {
  border: none;
  border-radius: 50%;
  background-color: #f8f8f8;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.incrementButton {
  margin-left: 5px;
  border: 1px solid grey;
}

.decrementButton {
  margin-right: 5px;
  border: 1px solid grey;
}

.placeOrderContainer {
  /* border-top: "1px solid #f0f0f0";
  background: "#fff";
  padding: "16px 22px";
  box-shadow: "0 -2px 10px 0 rgba(0,0,0,.1)";
  width: "68%"; */
}

.placeOrderButton {
  border: none;
  background-color: #fb641b;
  color: white;
  width: 260px;
  padding: 16px;
  font-weight: bold;
  margin-left: 337px;
  position: "sticky";
}

.removeStyle,
.saveStyle,
.incrementButton,
.decrementButton {
  cursor: pointer;
}

.priceHeading {
  color: #a0a0a0;
  font-weight: bold;
  text-align: center;
}
