.slick-slide.slick-active {
    width: 246px !important;
    border: 8px solid #F0F0F0;
    padding: -1px 142px;
}

.plusTwoMore{
margin-top: 79px;
}

.collection-plp-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details {
    text-align: center;
  }
  
  .product-name {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .product-price {
    color: #666;
    margin-top: 5px;
  }
  
 .collection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 169px;
    padding-top: 150px;
}

.collection-header div {
    display: flex;
    flex-direction: column;
}

.collection-header h5,p {
  margin: 17px -167px;
}


.incrementButton,
.decrementButton {
  border: none;
  border-radius: 50%;
  background-color: #f8f8f8;
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.incrementButton {
    margin-left: 5px;
    border: 1px solid grey;
  }
  
  .decrementButton {
    margin-right: 5px;
    border: 1px solid grey;
  }

.removeStyle,
.saveStyle,
.incrementButton,
.decrementButton {
  cursor: pointer;
}

.deleteButtonContainer{
    margin-left: 85% ;
    top:-10rem;
    position: relative;
    border: none;
}

.deleteButton{
    border: none;
    color: grey;
    background: white
}